.sign-in {padding:20px; border-radius:10px; background:white;}
.user-offline {margin-bottom:15px}
.signin-login, .signin-pass {border:0; background:white; border-radius:0;padding:10px 15px;text-align:center;}
.btn-primary {background:rgb(50,58,69); color: white;padding:10px 15px;}

