:host {margin-right: 10px;min-width: 300px; width:20%;}
:host:last-of-type {margin-right: 0}

:host:first-of-type .list__title,
.list.todo .list__title{background-color:rgba(225,25,0,.8); color:white;}
:host:last-of-type .list__title,
.list.done .list__title{background-color:rgba(0, 226, 25, .2)}

.list {
  background: rgba(50,58,68,.1);
  width:100%;
  display: inline-block;
}
.list__title {
  line-height:40px;
  font-size:1.2em;
  margin: 0; padding:0 10px;
}
.list__title:after {float:right}
.list a {
  width: 100%; padding: 0 10px;
  display: block; font-size:.9em;
  line-height:32px; text-align:right;
  text-decoration: none;
}

input{
  width: 100%;
  padding: 5px;
  border: 2px solid rgb(50,58,68);
  outline: 0;
  background: #fff;
  box-shadow:none;
}

