<!-- Image block -->
<div *ngIf="data.image">
  <img [src]="data.image" *ngIf="data.image">
  <button type="button" class="btn remove-image">Remove</button>
  <button type="button"
          class="btn add-line"
          (click)="closeDialog()">Close</button>
</div>

<div *ngIf="image">
  <img [src]="image.image" >
  <button type="button"
          class="btn add-line"
          (click)="SavingData()">Save</button>
  <button type="button" class="btn remove-image">Remove</button>
</div>

<div *ngIf="!image && !data.image">
  <input class="hidden-button" type="file" #newFileInput (change)="addNewImage($event)" />
  <button type="button"
          class="btn add-new-image"
          (click)="newFileInput.click()"></button>
</div>
<!-- Show old image-->
