:host {display:block; position:absolute;top:0;bottom:0;left:362px;width:calc(100% - 362px); max-width:640px;
  -webkit-box-shadow:  0 0 6px rgba(0,0,0,.2); -moz-box-shadow: 0 0 6px rgba(0,0,0,.2); box-shadow: 0 0 6px rgba(0,0,0,.2);}
.dialog-info { background: rgba(50,58,68,.04); padding: 12px 30px; display:block; width:100%;}
.dialog-update {font-weight:100; color:gray; float:right; font-size:.8em;}
.dialog-users span:after {content:', ';display:inline;}
.dialog-users span:last-of-type:after {content:''}
