.item-header {display:table; width:100%; position:relative; background:white;}
.item-title {width:100%; min-height: 40px; display:table-cell; height:40px;
  vertical-align: middle; padding: 0 20px; font-size:1.4em; }

.item-info {position:absolute; top:0; right:0; display:inline-block;height:0; width:100%;}
.item-cost  {display:block; height:40px; float:right;
  line-height:40px; width:100px; text-align:center;
  background: rgba(50,58,69,.04);}

.item-title-hover {position:absolute; display:none; top:40px;left:0;width:100%; background:rgba(255,255,255,.95);
  color:black; padding:10px 0; z-index:200;}
.item-title-hover.open {display:block;}
.item-title-hover .item-category {width:50%; float:left;padding:6px 20px;}
.item-title-hover .item-produce {width:50%; float:right; text-align:right;padding:6px 20px;}
.item-classifier {display:table; width:100%;}
.item-classifier .item-classifier-i {display:table-row; font-size:1rem; width:100%;color:gray}
.item-classifier .item-classifier-i:hover {background:rgba(50,58,68,.1)}
.item-classifier .item-classifier-i span {display:table-cell; width:50%; padding:6px 20px;}
.item-classifier .item-classifier-i span:last-of-type {text-align:right;}

.item-prices {width:100%; min-width:420px;right:0;background:rgba(255,255,255,.95);z-index:110;
  position:absolute;top:40px;display:none;}
.item-prices.open {padding:10px 0;display:table;z-index:110;}

.item-heading {font-size:1.2em; padding:6px 20px; font-weight:700; text-align:left;}
.item-list-f {width:60%;}
.item-list-i {display:block; width:100%; clear: none;float:none}
.item-list-i:hover {background:rgba(255,255,255,.1)}
.item-list-i span {padding:6px 10px 6px 6px; display:inline-block;}
.item-list-l {float:right; text-align:right;}
.item-batch {color:rgb(50,58,69);float:right;min-width:40px;height:40px;line-height:40px;text-align:center;
  position:relative; }
.item-batch:after {content:"\e044"; font-family: dripicons; font-size:2em; display:inline-block;position:absolute;
  width:100%; height:40px; top:0; left:0; background:white; transition:.3s ease;}
.item-batch:hover:after {top:40px;}

.item-open-image {background:rgb(50,58,69);font-family: dripicons;float:right;
  width:40px;height:40px;line-height:40px;text-align:center;}
.item-open-image:after {display:inline-block; content:"\e032"; content:"\e031";color:white;font-size:2em;}
.item-open-image.group:after {content:"\e032";}

.item-images {display:none;padding:20px 0 20px 20px;position:fixed;left:50%;top:50%;transform:translateX(-50%) translateY(-50%);z-index:9999; background:white;}
.item-images.open {display:block; box-shadow: 0 0 10px rgba(0,0,0,0.5); max-width:100%; max-height:calc(100% - 40px); width:80%;}
.item-images .close {position:absolute; display:block; top:0; right:0; width:20px; height:20px; cursor:pointer;text-align:center;}
.item-images .close:hover {background-color:rgba(50,58,68,.1);}
.item-images .close:before {content:"\39"; font-family:dripicons; font-size:14px; line-height:20px;color:rgb(50,58,68);}
.item-image {display:none; }
.item-image.open {display:block;width:80%;}
.item-image.open img {max-height:calc(100vh - 40px - 40px); margin: 0 auto; display:block;}
.item-image.single {display:block; width:100%;padding-right:20px;}
.item-image-list {padding:0 0 5px 20px; margin:0; width:20%;float:right;}
.item-image-list {list-style: none;}
.item-image-list li {margin-top:1px; background:rgba(50,58,68,.06); cursor:pointer; padding:4px 6px; line-height:1.1;}
.item-image-list li:hover {background:rgba(50,58,68,.1)}
.item-image-list .to_send .status:before {display:inline-block; float:left; content:"\e015"; margin-right:5px; font-family: dripicons;}
.item-image-list .is_top .status:after {display:inline-block; float:left; content:"\e013"; margin-right:5px; font-family: dripicons;}

  /*.bkd-simple {font-family: dripicons; width:40px; height:40px; line-height:40px; text-align:center;*/
/*background: rgb(50,58,68); display:block; font-size:2em; color:white; float:right}*/
/*.bkd-simple:after {content: "\53"; display:inline-block;}*/

.item-attr {width:100%; background-color:rgb(50,58,68); height:0; transition: 1s ease; position:relative;display:table;}
.item-attr.open {height:auto; display:table;}
.item-attr .item-attr-attribute, .item-attr .item-attr-testing {width:50%; display:table-cell; color:white; padding:20px;
  z-index: 100; position: relative;}
.item-attr:after {content:"\52";display:inline-block;position:absolute; font-family:dripicons;font-size:120px;
  color:rgba(255,255,255,.05); top:0;right:10px;}
.item-attr:before {content:"\e010";display:inline-block;position:absolute; font-family:dripicons;font-size:120px;
  color:rgba(255,255,255,.05); top:0;left:10px;}

/*.bkd-whom .from:after, .bkd-whom .from:before  {content:''; display:block; position:absolute; background-color:white;*/
/*width:14px; height:2px; transform: rotate(45deg); top:calc(50% - 5px); left:calc(50% - 7px);}*/
/*.bkd-whom .from:before { transform: rotate(-45deg); top:calc(50% + 5px)}*/

.item-desc {background:rgba(50,58,69,.04); display:block; width:100%; min-height: 40px; vertical-align: middle; padding:20px; }

.item-lines {width:100%; display:table; border-spacing: 0 1px}
.item-lines td {padding: 6px 4px;}
.item-lines td:first-of-type, .item-prices td:first-of-type {padding-left:20px;}
.item-line-i {display:table-row; width:100%; background-color: rgba(0,0,0,.02); border-top:1px;}
.item-line-i:hover {background-color: rgba(0,0,0,.04);}
.item-line-name {padding:10px 10px 10px 20px;}
.item-line-count {width:100px; vertical-align:middle; padding:10px; text-align:right; border-left:1px solid white;}
.repeatable:before {content:"\e03e";display:inline-block;font-family:dripicons;color:rgb(50,58,69); margin-right:10px;}
.lines-date {width:150px; color:gray; font-size:.8em;text-align:center; border-right:1px solid white;}
