:host, .contents {display: grid; width:100%; background:rgba(0,0,0,.01); border-bottom:1px;}

.prefix {padding:0; margin:0; width:20px;}

.bk-line-i {display:inline-table; width:100%; background-color: rgba(0,0,0,.01); border-top:1px;vertical-align:middle}
.bk-line-i:hover {background-color: rgba(0,0,0,.04);}
.bk-line-i td {padding: 6px 10px;}
.bk-line-i .bk-line-name {padding:2px 10px 0;}
.bk-line-i .bk-line-price, .bk-line-i .bk-line-count {width:80px;}

.bk-in {border:0; border-radius:0; background:transparent; display:block; width:100%; padding:2px 5px; margin:0; border-bottom:1px solid gray;}
.bk-in:focus {border-bottom:2px solid rgb(50,58,68)}

.add-line {font-family:dripicons; content:"\54"; padding:2px; cursor:pointer;}

.bk-btn {display:table; width:100%;margin-top:1px; }
.bk-btn .btn {display:table-cell; width:50%; float:right;}

.bom-parent, .bom-org {width:50%; padding:10px 20px 0;}
.bom-bill-name {width:100%; }
.bk-line-i .bom-bill-image {font-family: dripicons;text-align:center;width:40px;padding:0;}
.bom-bill-image span:before {display:inline-block; content:"\e032"; content:"\e031";color:white;font-size:2em;width:40px; height:40px;background:rgb(50,58,68); line-height:40px;}
.bom-bill-image .add-line {background:rgb(50,58,68);color:white; margin-top:1px;}
.bom-bill-image .add-line:hover {background:rgba(50,58,68,.8)}
.bom-bill-image span.no-images:before {opacity:.8}

.bk-line-i .remove {width:50px;padding:0;margin:0; position:relative;}
.remove .btn {position:absolute;display:block;top:0;right:0;left:0;bottom:0;cursor:pointer;text-align:center;
  padding:0; border-radius:0;}
.remove .btn:hover {background-color:rgba(50,58,68,.1);}
.remove .btn:before {content:"\e053"; font-family:dripicons; font-size:2em; line-height:50px;color:rgb(50,58,68); display:block;}
