<form [formGroup]="bomForm" (ngSubmit)="onSubmit()">
  <div class="bkd-header">
    <input formControlName="id" type="hidden" id="id">
    <input formControlName="name"
             class="bkd-title"
             type="text"
             id="name"
             placeholder="Title" >
    <div class="bkd-info">
      <input class="bkd-amount"
               type="text"
               id="amount"
               formControlName="amount"
               placeholder="0" >
      <div class="bkd-simple" (click)="sheetSimpleToggle()"></div>
      <input class="bkd-date"
               type="text"
               id="date_pub"
               formControlName="date_pub" >
    </div>
  </div>
  <textarea autosize formControlName="desc"
              class="bkd-desc"
              id="desc"
              rows="6"></textarea>
  <div class="title-hover" >
    <mat-form-field class="bom-parent">
      <input type="text"
             placeholder="Parent"
             aria-label="Number"
             matInput
             formControlName="parent"
             [matAutocomplete]="autoParent">
      <mat-autocomplete #autoParent="matAutocomplete" [displayWith]="displayParentFn">
        <mat-option *ngFor="let parent of filteredParents | async" [value]="parent">{{ parent.name }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="bom-org">
      <input type="text"
             placeholder="Organizations"
             aria-label="Number"
             matInput
             formControlName="org"
             [matAutocomplete]="autoOrg">
      <mat-autocomplete #autoOrg="matAutocomplete" [displayWith]="displayOrganizationFn">
        <mat-option *ngFor="let org of filteredOrganizations | async" [value]="org">{{ org.name }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <tbody class="bk-lines" formArrayName="bill">
        <tr *ngFor="let lineCtrl of bomForm.get('bill').controls; let i = index"
            [formGroupName]="i"
            class="bk-line-i">
            <td class="bk-line-name">
                <!--<input formControlName="name" type="text" class="bk-in">-->
              <mat-form-field class="bom-org">
                <input type="text"
                       placeholder="Name"
                       aria-label="String"
                       matInput
                       formControlName="name"
                       [matAutocomplete]="autoName"
                >
                <mat-autocomplete #autoName="matAutocomplete" >
                  <mat-option *ngFor="let item of filteredItems | async" [value]="item.name">{{ item.name }}</mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </td>
            <td class="bk-line-price">
                <input formControlName="price" type="text" class="bk-in">
            </td>
            <td class="bk-line-count">
                <input formControlName="count" type="text" class="bk-in">
            </td>
        </tr>
  </tbody>
  <button type="button" class="btn add-line" (click)="addNewLine()">T</button>
  <div class="bk-btn">
    <button type="submit" [disabled]="!bomForm.valid"
            class="btn btn-success">Save</button>
    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
  </div>
</form>
