<form [formGroup]="bomForm" (ngSubmit)="onSubmit()">
  <div class="bkd-header">
    <input formControlName="id" type="hidden" id="id">
    <input formControlName="name"
             class="bkd-title"
             type="text"
             id="name"
             placeholder="Title" >
    <div class="bkd-info">
      <input class="bkd-amount"
               type="text"
               id="amount"
               formControlName="amount"
               placeholder="0" >
      <div class="bkd-simple" (click)="sheetSimpleToggle()"></div>
      <mat-form-field class="bkd-date">
        <input matInput
               [matDatepicker]="date_pub"
               type="text"
               id="date_pub"
               formControlName="date_pub" >
        <mat-datepicker-toggle matSuffix [for]="date_pub"></mat-datepicker-toggle>
        <mat-datepicker #date_pub></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <textarea autosize formControlName="desc"
              class="bkd-desc"
              id="desc"
              rows="6"></textarea>
  <div class="title-hover" >
    <mat-form-field class="bom-parent">
      <input type="text"
             placeholder="Parent"
             aria-label="Number"
             matInput
             formControlName="parent"
             [matAutocomplete]="autoParent">
      <mat-autocomplete #autoParent="matAutocomplete" [displayWith]="displayParentFn">
        <mat-option *ngFor="let parent of filteredParents | async" [value]="parent">{{ parent.name }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="bom-org">
      <input type="text"
             placeholder="Organizations"
             aria-label="Number"
             matInput
             formControlName="org"
             [matAutocomplete]="autoOrg">
      <mat-autocomplete #autoOrg="matAutocomplete" [displayWith]="displayOrganizationFn">
        <mat-option *ngFor="let org of filteredOrganizations | async" [value]="org">{{ org.name }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <tbody class="bk-lines" formArrayName="bill">
    <app-bom-edit-material *ngFor="let lineCtrl of bomForm.get('bill').controls; let i = index"
                           class="bom-material"
                           [formGroupName]="i" [formControlBom]="lineCtrl"
                           [items]="items" [filteredItems]="filteredItems"
                           [materialBOM]="bomStorage.getMaterial(i)"
                           draggable="True" [id]="i"
                           (dragstart)="dragStart($event)" (dragover)="allowDrop($event, i)" (drop)="drop($event)"
                           (dragleave)="dragLeave(i)" ondragexit="dragLeave(i)"
                           (addImage)="addNewImage($event)"
                           (addSubLineMaterial)="addNewLine(i)"
                           (removed)="removeBomMaterial(i)">
    </app-bom-edit-material>
    <!--<tr *ngFor="let lineCtrl of bomForm.get('bill').controls; let i = index"-->
            <!--[formGroupName]="i"-->
            <!--class="bk-line-i">-->
      <!--<td class="bom-bill-image">-->
            <!--<span></span>-->
            <!--<button type="button" class="btn add-line" (click)="addSubLine(i)">T</button>-->
      <!--</td>-->
      <!--<td class="bk-line-name">-->
        <!--<input formControlName="id" type="hidden">-->
        <!--<mat-form-field class="bom-bill-name">-->
          <!--<input type="text"-->
                 <!--placeholder="Name"-->
                 <!--aria-label="String"-->
                 <!--matInput-->
                 <!--formControlName="name"-->
                 <!--[matAutocomplete]="autoName"-->
          <!--&gt;-->
          <!--<mat-autocomplete #autoName="matAutocomplete" [displayWith]="displayItemFn">-->
            <!--<mat-option *ngFor="let item of filteredItems | async" [value]="item">{{ item.name }}</mat-option>-->
          <!--</mat-autocomplete>-->
        <!--</mat-form-field>-->
      <!--</td>-->
      <!--<td class="bk-line-price">-->
        <!--<input formControlName="price" type="text" class="bk-in">-->
      <!--</td>-->
      <!--<td class="bk-line-count">-->
        <!--<input formControlName="count" type="text" class="bk-in">-->
      <!--</td>-->
      <!--<div class="hidden" *ngIf="lineCtrl.bom_id">-->
        <!--<input type="hidden" formControlName="bom_id">-->
      <!--</div>-->
    <!--</tr>-->
  </tbody>
  <button type="button" class="btn add-line" (click)="addNewLine()">T</button>
  <div class="bk-btn">
    <button type="submit" [disabled]="!bomForm.valid"
            class="btn btn-success">Save</button>
    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
  </div>
</form>
