<!--
<div *ngIf="widget" class="widget">{{ widget }}</div>
        <div *ngIf="status" class="status paid get {{ status }}"></div>
        <div *ngIf="attach" class="attach">
            <ul class="attach-list">
                <li *ngFor="let att of attach">{{ att.name }}</li>
            </ul>
        </div>
        <div class="topbar-mode" [ngClass]="{'user': userMode }">
            <span class="mode" (click)="onChangeMode()"></span>
            <!--
            <ul *ngIf="modeChoices">
                <li *ngFor="let choice of modeChoices">{{ choice.name }}</li>
            </ul>
            ->
        </div>-->
THIS IS WOTKS!!!
