.close {display:table-cell; width: 80px; vertical-align: middle; text-align: center; font-size:.8em; color:rgba(50,58,69,.7);
  background-color: rgba(0,0,0,0) !important;}
.close:before {content: "\57"; display:inline; font-family: dripicons;}
.close:hover {background-color: rgba(0,0,0,.05) !important;}

:host {display:table-row; width:100%; cursor:pointer;}
.item-line-i {display:table-row; width:100%; background-color: rgba(0,0,0,.02);margin-top:1px; cursor:pointer;}
.item-lines {width:100%; display:table; margin-top:1px;background-color: rgba(0,0,0,.02);margin-top:1px; }

.item-lst-i-a {display:table; margin-top:1px; color:black; width:100%; background-color: rgba(0,0,0,.05);}
.item-lst-i-a:hover {background-color: rgba(0,0,0,.1);}

.item-lst-i-a td, .item-lines td {padding:3px 5px; background-color: rgba(0,0,0,.02);}
.item-lst-i-a td:nth-child(n+1),
.item-lines td:nth-child(n+1) {border-left:1px solid white;}
.item-line-i:hover td {background-color:rgba(0,0,0,.06)}
.item-name {width:40%;}
.item-cat {}
.item-produce {width:30%;}
.item-cost, .item-prop-value {display:table-cell; width: 100px;}
.item-lines .item-desc {padding:6px 10px;}
.item-prop-name {padding:3px 5px;}
.item-prop-value {padding:3px 5px;}
