.bkd-header {display:table; width:100%; position:relative; background:white;}
.bkd-title {width:100%; min-height: 40px; display:table-cell; height:40px;
  vertical-align: middle; padding: 0 20px; font-size:1.4em; }
/*.bkd-title:after {display:block; float:right; content:''; width:140px; height:40px;}*/
.bkd-info {width:100%; position:absolute; bottom:0; right:0; display:block;}
.bkd-date  {display:block; height:40px; float:right;
  line-height:40px; width:100px; text-align:center;
  background: rgba(50,58,69,.04);}
.bkd-simple {font-family: dripicons; width:40px; height:40px; line-height:40px; text-align:center;
background: rgb(50,58,68); display:block; font-size:2em; color:white; float:right}
.bkd-simple:after {content: "\53"; display:inline-block;}

.bkd-whom {width:100%; background-color:rgb(50,58,68); height:0; transition: 1s ease; position:relative}
.bkd-whom.open {height:auto; display:table;}
.bkd-whom .from, .bkd-whom .to {width:50%; display:table-cell;
vertical-align: middle; text-align:left; color:white; padding:20px}

.bkd-whom .from:after, .bkd-whom .from:before  {content:''; display:block; position:absolute; background-color:white;
width:14px; height:2px; transform: rotate(45deg); top:calc(50% - 5px); left:calc(50% - 7px);}
.bkd-whom .from:before { transform: rotate(-45deg); top:calc(50% + 5px)}

.bkd-desc {background:rgba(50,58,69,.04); display:block; width:100%; min-height: 40px; vertical-align: middle; padding:20px; }

.bk-lines {width:100%; display:table; border-spacing: 0 1px}
.bk-line-i {display:table-row; width:100%; background-color: rgba(0,0,0,.02); border-top:1px;}
.bk-line-i:hover {background-color: rgba(0,0,0,.04);}
.bk-line-name {padding:10px 10px 10px 20px;}
.bk-line-price, .bk-line-count, .bk-line-amount {width:100px; vertical-align:middle; padding:10px; text-align:right; border-left:1px solid white;}


